In [1]:
import pandas as pd
df = pd.read_csv("Data_set.csv")
df.head(10)
df.tail()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   show_name                 96 non-null     object
 1   country                   100 non-null    object
 2   num_episodes              100 non-null    int64
 3   aired_on                  99 non-null     object
 4   original_network          99 non-null     object
 5   rating                    96 non-null     float64
 6   current_overall_rank      97 non-null     float64
 7   lifetime_popularity_rank  100 non-null    int64
 8   watchers                  97 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 7.2+ KB

In [2]:
df.tail(21)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
79,Emergency Couple,South Korea,21,"Friday, Saturday",tvN,8.0,1145.0,83,38266.0
80,True Beauty,South Korea,16,"Wednesday, Thursday",tvN,8.4,272.0,84,38080.0
81,Hana Yori Dango,Japan,9,NaN,NaN,8.3,508.0,85,37920.0
82,School 2013,South Korea,16,"Monday, Tuesday",KBS2,8.2,533.0,86,37819.0
83,The Beauty Inside,South Korea,16,"Monday, Tuesday",jTBC,8.4,327.0,87,36945.0
84,Thirty But Seventeen,South Korea,32,"Monday, Tuesday",SBS,8.5,208.0,88,36850.0
85,The Innocent Man,South Korea,20,"Wednesday, Thursday",KBS2,8.1,743.0,89,36822.0
86,"Marriage, Not Dating",South Korea,16,"Friday, Saturday",tvN,8.2,653.0,90,36673.0
87,Shopping King Louie,South Korea,16,"Wednesday, Thursday",MBC,8.2,579.0,91,36601.0
88,Faith,South Korea,24,"Monday, Tuesday",SBS,8.1,793.0,92,36429.0
89,Angel's Last Mission: Love,South Korea,32,"Wednesday, Thursday",KBS2,NaN,259.0,93,NaN
90,Hospital Playlist,South Korea,12,Thursday,"tvN, Netflix",9.1,2.0,94,35599.0
91,Abyss,South Korea,16,"Monday, Tuesday","tvN, Netflix",7.8,1577.0,95,35580.0
92,NaN,South Korea,16,"Wednesday, Thursday","tvN, Netflix",9.1,12.0,96,35508.0
93,Another Miss Oh,South Korea,18,"Monday, Tuesday",tvN,8.3,469.0,97,35354.0
94,Flower of Evil,South Korea,16,"Wednesday, Thursday",tvN,9.1,4.0,98,34901.0
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,NaN
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [3]:
df["aired_on"]=df["aired_on"].fillna(df["aired_on"].mode()[0])

In [4]:
df.tail(21)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
79,Emergency Couple,South Korea,21,"Friday, Saturday",tvN,8.0,1145.0,83,38266.0
80,True Beauty,South Korea,16,"Wednesday, Thursday",tvN,8.4,272.0,84,38080.0
81,Hana Yori Dango,Japan,9,"Wednesday, Thursday",NaN,8.3,508.0,85,37920.0
82,School 2013,South Korea,16,"Monday, Tuesday",KBS2,8.2,533.0,86,37819.0
83,The Beauty Inside,South Korea,16,"Monday, Tuesday",jTBC,8.4,327.0,87,36945.0
84,Thirty But Seventeen,South Korea,32,"Monday, Tuesday",SBS,8.5,208.0,88,36850.0
85,The Innocent Man,South Korea,20,"Wednesday, Thursday",KBS2,8.1,743.0,89,36822.0
86,"Marriage, Not Dating",South Korea,16,"Friday, Saturday",tvN,8.2,653.0,90,36673.0
87,Shopping King Louie,South Korea,16,"Wednesday, Thursday",MBC,8.2,579.0,91,36601.0
88,Faith,South Korea,24,"Monday, Tuesday",SBS,8.1,793.0,92,36429.0
89,Angel's Last Mission: Love,South Korea,32,"Wednesday, Thursday",KBS2,NaN,259.0,93,NaN
90,Hospital Playlist,South Korea,12,Thursday,"tvN, Netflix",9.1,2.0,94,35599.0
91,Abyss,South Korea,16,"Monday, Tuesday","tvN, Netflix",7.8,1577.0,95,35580.0
92,NaN,South Korea,16,"Wednesday, Thursday","tvN, Netflix",9.1,12.0,96,35508.0
93,Another Miss Oh,South Korea,18,"Monday, Tuesday",tvN,8.3,469.0,97,35354.0
94,Flower of Evil,South Korea,16,"Wednesday, Thursday",tvN,9.1,4.0,98,34901.0
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,NaN
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [5]:
df["original_network"]=df["original_network"].fillna(df["original_network"].mode()[0])

In [6]:
df.tail(21)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
79,Emergency Couple,South Korea,21,"Friday, Saturday",tvN,8.0,1145.0,83,38266.0
80,True Beauty,South Korea,16,"Wednesday, Thursday",tvN,8.4,272.0,84,38080.0
81,Hana Yori Dango,Japan,9,"Wednesday, Thursday",tvN,8.3,508.0,85,37920.0
82,School 2013,South Korea,16,"Monday, Tuesday",KBS2,8.2,533.0,86,37819.0
83,The Beauty Inside,South Korea,16,"Monday, Tuesday",jTBC,8.4,327.0,87,36945.0
84,Thirty But Seventeen,South Korea,32,"Monday, Tuesday",SBS,8.5,208.0,88,36850.0
85,The Innocent Man,South Korea,20,"Wednesday, Thursday",KBS2,8.1,743.0,89,36822.0
86,"Marriage, Not Dating",South Korea,16,"Friday, Saturday",tvN,8.2,653.0,90,36673.0
87,Shopping King Louie,South Korea,16,"Wednesday, Thursday",MBC,8.2,579.0,91,36601.0
88,Faith,South Korea,24,"Monday, Tuesday",SBS,8.1,793.0,92,36429.0
89,Angel's Last Mission: Love,South Korea,32,"Wednesday, Thursday",KBS2,NaN,259.0,93,NaN
90,Hospital Playlist,South Korea,12,Thursday,"tvN, Netflix",9.1,2.0,94,35599.0
91,Abyss,South Korea,16,"Monday, Tuesday","tvN, Netflix",7.8,1577.0,95,35580.0
92,NaN,South Korea,16,"Wednesday, Thursday","tvN, Netflix",9.1,12.0,96,35508.0
93,Another Miss Oh,South Korea,18,"Monday, Tuesday",tvN,8.3,469.0,97,35354.0
94,Flower of Evil,South Korea,16,"Wednesday, Thursday",tvN,9.1,4.0,98,34901.0
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,NaN
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [7]:
df.tail(93)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
7,The Heirs,South Korea,20,"Wednesday, Thursday",SBS,7.5,2817.0,8,90467.0
8,Pinocchio,South Korea,20,"Wednesday, Thursday",SBS,NaN,273.0,9,82893.0
9,Healer,South Korea,20,"Monday, Tuesday",KBS2,8.9,25.0,10,NaN
10,What's Wrong with Secretary Kim,South Korea,16,"Wednesday, Thursday",tvN,8.5,196.0,11,79953.0
11,While You Were Sleeping,South Korea,32,"Wednesday, Thursday",SBS,8.7,61.0,12,77814.0
...,...,...,...,...,...,...,...,...,...
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,NaN
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [8]:
df["watchers"]=df["watchers"].fillna(df["watchers"].median())

In [9]:
df.tail(93)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
7,The Heirs,South Korea,20,"Wednesday, Thursday",SBS,7.5,2817.0,8,90467.0
8,Pinocchio,South Korea,20,"Wednesday, Thursday",SBS,NaN,273.0,9,82893.0
9,Healer,South Korea,20,"Monday, Tuesday",KBS2,8.9,25.0,10,46963.0
10,What's Wrong with Secretary Kim,South Korea,16,"Wednesday, Thursday",tvN,8.5,196.0,11,79953.0
11,While You Were Sleeping,South Korea,32,"Wednesday, Thursday",SBS,8.7,61.0,12,77814.0
...,...,...,...,...,...,...,...,...,...
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,46963.0
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [10]:
df.tail(84)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
16,The Legend of the Blue Sea,South Korea,20,"Wednesday, Thursday",SBS,8.4,342.0,17,67816.0
17,Crash Landing on You,South Korea,16,"Sunday, Saturday","tvN, Netflix",8.9,NaN,18,66517.0
18,Coffee Prince,South Korea,17,"Monday, Tuesday",MBC,8.3,480.0,19,65330.0
19,I Hear Your Voice,South Korea,18,"Wednesday, Thursday",SBS,NaN,128.0,20,64214.0
20,City Hunter,South Korea,20,"Wednesday, Thursday",SBS,8.4,307.0,21,64186.0
...,...,...,...,...,...,...,...,...,...
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,46963.0
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [11]:
df["current_overall_rank"]=df["current_overall_rank"].fillna(df["current_overall_rank"].median())

In [12]:
df.tail(84)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
16,The Legend of the Blue Sea,South Korea,20,"Wednesday, Thursday",SBS,8.4,342.0,17,67816.0
17,Crash Landing on You,South Korea,16,"Sunday, Saturday","tvN, Netflix",8.9,441.0,18,66517.0
18,Coffee Prince,South Korea,17,"Monday, Tuesday",MBC,8.3,480.0,19,65330.0
19,I Hear Your Voice,South Korea,18,"Wednesday, Thursday",SBS,NaN,128.0,20,64214.0
20,City Hunter,South Korea,20,"Wednesday, Thursday",SBS,8.4,307.0,21,64186.0
...,...,...,...,...,...,...,...,...,...
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,46963.0
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0